<!-- Start Content -->
<div class="content">

    <!-- Page Header -->
    <div class="d-flex align-items-center justify-content-between gap-2 mb-4 flex-wrap">
        <div>
            <h4 class="mb-1">Settings</h4>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a [routerLink]="routes.index">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Settings</li>
                </ol>
            </nav>
        </div>
        <div class="gap-2 d-flex align-items-center flex-wrap">
            <a href="javascript:void(0);" class="btn btn-icon btn-outline-light shadow" data-bs-toggle="tooltip"
                data-bs-placement="top" aria-label="Refresh" data-bs-original-title="Refresh"><i
                    class="ti ti-refresh"></i></a>
            <app-collapse-header></app-collapse-header>
        </div>
    </div>
    <!-- End Page Header -->

    <div class="card border-0">
        <div class="card-body pb-0 pt-0 px-2">
            <ul class="nav nav-tabs nav-bordered nav-bordered-primary">
                <li class="nav-item me-3">
                    <a [routerLink]="routes.profileSettings" class="nav-link p-2">
                        <i class="ti ti-settings-cog me-2"></i>General Settings
                    </a>
                </li>
                <li class="nav-item me-3">
                    <a [routerLink]="routes.companySettings" class="nav-link p-2">
                        <i class="ti ti-world-cog me-2"></i>Website Settings
                    </a>
                </li>
                <li class="nav-item me-3">
                    <a [routerLink]="routes.invoiceSettings" class="nav-link p-2 active">
                        <i class="ti ti-apps me-2"></i>App Settings
                    </a>
                </li>
                <li class="nav-item me-3">
                    <a [routerLink]="routes.emailSettings" class="nav-link p-2">
                        <i class="ti ti-device-laptop me-2"></i>System Settings
                    </a>
                </li>
                <li class="nav-item me-3">
                    <a [routerLink]="routes.paymentGatewaySettings" class="nav-link p-2">
                        <i class="ti ti-moneybag me-2"></i>Financial Settings
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="routes.siteMap" class="nav-link p-2">
                        <i class="ti ti-flag-cog me-2"></i>Other Settings
                    </a>
                </li>
            </ul>
        </div> <!-- end card body -->
    </div> <!-- end card -->

    <!-- start row -->
    <div class="row">
        <div class="col-xl-3 col-lg-12 theiaStickySidebar">

            <div class="card mb-3 mb-xl-0">
                <div class="card-body">
                    <div class="settings-sidebar">
                        <h5 class="mb-3 fs-17">App Settings</h5>
                        <div class="list-group list-group-flush settings-sidebar">
                            <a [routerLink]="routes.invoiceSettings" class="d-block p-2 fw-medium">Invoice Settings</a>
                            <a [routerLink]="routes.printerSettings" class="d-block p-2 fw-medium">Printer</a>
                            <a [routerLink]="routes.customFields" class="d-block p-2 fw-medium active">Custom Fields</a>
                        </div>
                    </div>
                </div> <!-- end card body -->
            </div> <!-- end card -->

        </div> <!-- end col -->

        <div class="col-xl-9 col-lg-12">
            <div class="card mb-0">
                <div class="card-body">
                    <div
                        class="border-bottom mb-3 pb-3 d-flex align-items-center justify-content-between flex-wrap gap-2">
                        <h5 class="mb-0 fs-17">Custom Fields</h5>
                        <a href="javascript:void(0)" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                            data-bs-target="#add_fields"><i class="ti ti-square-rounded-plus-filled me-1"></i>Add New
                            Field</a>
                    </div>
                    <!-- start table -->
                    <div class="table-responsive">
                        <table class="table table-nowrap">
                            <thead class="table-light">
                                <tr>
                                    <th>Module</th>
                                    <th>Label</th>
                                    <th>Type</th>
                                    <th>Default Value</th>
                                    <th>Required</th>
                                    <th>status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Contacts</td>
                                    <td>Preferred Language</td>
                                    <td>Select</td>
                                    <td>English</td>
                                    <td>
                                        <div class="form-check form-switch p-0">
                                            <label
                                                class="form-check-label d-flex align-items-center justify-content-center">
                                                <input class="form-check-input switchCheckDefault" type="checkbox"
                                                    role="switch" checked>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="badge badge-tag badge-soft-success">Connected</span>
                                    </td>

                                    <td>
                                        <div class="dropdown table-action">
                                            <a href="#"
                                                class="action-icon btn btn-xs shadow d-inline-flex btn-outline-light"
                                                data-bs-toggle="dropdown" aria-expanded="false"><i
                                                    class="ti ti-dots-vertical"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item d-flex align-items-center" href="#"
                                                    data-bs-toggle="modal" data-bs-target="#edit_fields"><i
                                                        class="ti ti-edit me-1"></i> Edit</a>
                                                <a class="dropdown-item d-flex align-items-center" href="#"
                                                    data-bs-toggle="modal" data-bs-target="#delete_fields"><i
                                                        class="ti ti-trash me-1"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Projects</td>
                                    <td>Project Type</td>
                                    <td>Select</td>
                                    <td>Internal</td>
                                    <td>
                                        <div class="form-check form-switch p-0">
                                            <label
                                                class="form-check-label d-flex align-items-center justify-content-center">
                                                <input class="form-check-input switchCheckDefault" type="checkbox"
                                                    role="switch" checked>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="badge badge-tag badge-soft-success">Connected</span>
                                    </td>

                                    <td>
                                        <div class="dropdown table-action">
                                            <a href="#"
                                                class="action-icon btn btn-xs shadow d-inline-flex btn-outline-light"
                                                data-bs-toggle="dropdown" aria-expanded="false"><i
                                                    class="ti ti-dots-vertical"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item d-flex align-items-center" href="#"
                                                    data-bs-toggle="modal" data-bs-target="#edit_fields"><i
                                                        class="ti ti-edit me-1"></i> Edit</a>
                                                <a class="dropdown-item d-flex align-items-center" href="#"
                                                    data-bs-toggle="modal" data-bs-target="#delete_fields"><i
                                                        class="ti ti-trash me-1"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tasks</td>
                                    <td>Task Type</td>
                                    <td>Select</td>
                                    <td>Design</td>
                                    <td>
                                        <div class="form-check form-switch p-0">
                                            <label
                                                class="form-check-label d-flex align-items-center justify-content-center">
                                                <input class="form-check-input switchCheckDefault" type="checkbox"
                                                    role="switch" checked>
                                            </label>
                                        </div>
                                    </td>
                                    <td>
                                        <span class="badge badge-tag badge-soft-success">Connected</span>
                                    </td>

                                    <td>
                                        <div class="dropdown table-action">
                                            <a href="#"
                                                class="action-icon btn btn-xs shadow d-inline-flex btn-outline-light"
                                                data-bs-toggle="dropdown" aria-expanded="false"><i
                                                    class="ti ti-dots-vertical"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item d-flex align-items-center" href="#"
                                                    data-bs-toggle="modal" data-bs-target="#edit_fields"><i
                                                        class="ti ti-edit me-1"></i> Edit</a>
                                                <a class="dropdown-item d-flex align-items-center" href="#"
                                                    data-bs-toggle="modal" data-bs-target="#delete_fields"><i
                                                        class="ti ti-trash me-1"></i> Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- end table -->
                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->
</div>
<!-- End Content -->

<!-- Add Custom Fields -->
		<div class="modal fade" id="add_fields" role="dialog">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Add New Custom Field</h5>
						<button type="button"
                            class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle"
                            data-bs-dismiss="modal" aria-label="Close">
                            <i class="ti ti-x"></i>
                        </button>
					</div>
					<form>
						<div class="modal-body">
							<div class="mb-3">
								<label class="form-label">Module <span
										class="text-danger">*</span></label>
								<mat-select class="select custom-mat-select" placeholder="Choose">
									<mat-option value="1">Choose</mat-option>
									<mat-option value="1">Contacts</mat-option>
									<mat-option value="1">Projects</mat-option>
									<mat-option value="1">Tasks</mat-option>
								</mat-select>
							</div>
							<div class="mb-3">
								<label class="form-label">Input Type <span class="text-danger">*</span></label>
								<mat-select class="select custom-mat-select" placeholder="Choose">
									<mat-option value="1">Choose</mat-option>
									<mat-option value="1">Text</mat-option>
									<mat-option value="1">Select</mat-option>
									<mat-option value="1">Text Area</mat-option>
									<mat-option value="1">Number</mat-option>
								</mat-select>
							</div>
							<div class="mb-3">
								<label class="form-label">Label <span class="text-danger">*</span></label>
								<input type="text" class="form-control">
							</div>
							<div class="mb-3">
								<label class="form-label">Default Value</label>
								<input type="text" class="form-control">
							</div>
							<div class="d-flex align-items-center justify-content-between">
								<label class="form-label">Required </label>
								<div class="form-check form-switch p-0">
									<label class="form-check-label d-flex align-items-center justify-content-center">
										<input class="form-check-input switchCheckDefault" type="checkbox" role="switch">     
									</label>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<div class="d-flex align-items-center">
								<a href="#" class="btn btn-sm btn-light me-2" data-bs-dismiss="modal">Cancel</a>
								<button type="submit" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Save</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- /Add Custom Fields -->

		<!-- Edit Custom Fields -->
		<div class="modal fade" id="edit_fields" role="dialog">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Edit Custom Field</h5>
						<button type="button"
                            class="btn-close custom-btn-close border p-1 me-0 d-flex align-items-center justify-content-center rounded-circle"
                            data-bs-dismiss="modal" aria-label="Close">
                            <i class="ti ti-x"></i>
                        </button>
					</div>
					<form>
						<div class="modal-body">
							<div class="mb-3">
								<label class="form-label">Module <span
										class="text-danger">*</span></label>
								<mat-select class="select custom-mat-select" placeholder="Contacts">
									<mat-option value="1">Choose</mat-option>
									<mat-option value="1" selected>Contacts</mat-option>
									<mat-option value="1">Projects</mat-option>
									<mat-option value="1">Tasks</mat-option>
								</mat-select>
							</div>
							<div class="mb-3">
								<label class="form-label">Input Type <span class="text-danger">*</span></label>
								<mat-select class="select custom-mat-select" placeholder="Text">
									<mat-option value="1">Choose</mat-option>
									<mat-option value="1" selected>Text</mat-option>
									<mat-option value="1">Select</mat-option>
									<mat-option value="1">Text Area</mat-option>
									<mat-option value="1">Number</mat-option>
								</mat-select>
							</div>
							<div class="mb-3">
								<label class="form-label">Label <span class="text-danger">*</span></label>
								<input type="text" class="form-control" value="Preferred Language">
							</div>
							<div class="mb-3">
								<label class="form-label">Default Value</label>
								<input type="text" class="form-control" value="English">
							</div>
							<div class="d-flex align-items-center justify-content-between mb-3">
								<label class="form-label">Required </label>
								<div class="form-check form-switch p-0">
									<label class="form-check-label d-flex align-items-center justify-content-center">
										<input class="form-check-input switchCheckDefault" type="checkbox" role="switch" checked>     
									</label>
								</div>
							</div>
							<div class="mb-0">
								<label class="form-label">Status</label>
								<div class="d-flex align-items-center">
									<div class="me-2">
										<input type="radio" class="status-radio" id="add-active" name="status" checked>
										<label for="add-active">Active</label>
									</div>
									<div>
										<input type="radio" class="status-radio" id="add-inactive" name="status">
										<label for="add-inactive">Inactive</label>
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<div class="d-flex align-items-center">
								<a href="#" class="btn btn-sm btn-light me-2" data-bs-dismiss="modal">Cancel</a>
								<button type="submit" class="btn btn-sm btn-primary" data-bs-dismiss="modal">Save</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- /Edit Custom Fields -->

		<!-- Delete Printer -->
		<div class="modal fade" id="delete_fields" role="dialog">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-body">
						<div class="text-center">
							<div class="mb-3 position-relative z-1">
								<span class="avatar avatar-xl badge-soft-danger border-0 text-danger rounded-circle"><i class="ti ti-trash fs-24"></i></span>
							</div>
							<h4 class="mb-2">Delete Confirmation</h4>
							<p class="mb-0">Are you sure you want to remove custom field you selected.</p>
							<div class="d-flex align-items-center justify-content-center mt-4">
								<a href="#" class="btn btn-sm btn-light me-2" data-bs-dismiss="modal">Cancel</a>
								<a href="#" class="btn btn-sm btn-primary me-2" data-bs-dismiss="modal">Yes, Delete</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Delete Printer -->