<!-- Sidebar -->
<div class="sidebar" id="sidebar" (mouseover)="miniSideBarMouseHover('over')" (mouseout)="miniSideBarMouseHover('out')" (focus)="miniSideBarMouseHover('over')" (blur)="miniSideBarMouseHover('out')" tabindex="0"     >
  <div class="sidebar-logo">
                <div>
                    <!-- Logo Normal -->
                    <a [routerLink]="routes.index" class="logo logo-normal">
                        <img src="assets/img/logo.svg" alt="Logo">
                    </a>

                    <!-- Logo Small -->
                    <a [routerLink]="routes.index" class="logo-small">
                        <img src="assets/img/logo-small.svg" alt="Logo">
                    </a>

                    <!-- Logo Dark -->
                    <a [routerLink]="routes.index" class="dark-logo">
                        <img src="assets/img/logo-white.svg" alt="Logo">
                    </a>
                </div>
                <button class="sidenav-toggle-btn btn border-0 p-0 active" id="toggle_btn" (click)="onToggleSidebar()">
                    <i class="ti ti-arrow-bar-to-left"></i>
                </button>

                <!-- Sidebar Menu Close -->
                <button class="sidebar-close" (click)="toggleSidebar()">
                    <i class="ti ti-x align-middle"></i>
                </button>                
            </div>

  <div class="sidebar-inner slimscroll">
    <ng-scrollbar>
      <div id="sidebar-menu" class="sidebar-menu">
        <ul>
          @for (mainTittle of side_bar_data; track mainTittle) {
          <li class="menu-title">
            <span>{{ mainTittle.tittle }}</span>
            </li>
            <li>
              <ul>
                @for (menu of mainTittle?.menu; track menu) {
                @if (menu?.hasSubRoute === false) {
                <li [class.active]="base === menu.base">
                  <a   [routerLink]="menu?.route" (click)="expandSubMenus(menu)"><i [class]="'ti ti-' + menu.icon"></i>
                    <span>{{ menu?.menuValue }}</span>
                  </a>
                </li>
                }
                @if (menu.hasSubRoute === true) {
                <li class="submenu" >
                  <a  href="javascript:void(0)" (click)="expandSubMenus(menu)"
                     [ngClass]=" menu.showSubRoute === true ?'subdrop active':''"
                    >
                    <i [class]="'ti ti-' + menu.icon"></i>
                    <span>{{ menu.menuValue }}</span>
                    <span class="menu-arrow"></span>
                  </a>
                  <ul [ngClass]=" menu.showSubRoute === true
                                                ? 'd-block'
                                                : 'd-none'
                                            ">
                    @for (subMenus of menu.subMenus; track subMenus) { 
                    <li>
                      <a [routerLink]="subMenus.route" [class.active]="base === menu.base && page === subMenus.base">{{ subMenus.menuValue }}</a>
                    </li>
                    }
                  </ul>
                </li>
                }
                @if (menu.hasSubRouteTwo === true) {
                <li class="submenu">
                  <a href="javascript:void(0);" (click)="openMenu(menu)" [ngClass]="{'subdrop' : openMenuItem === menu}"
                    [class.active]="base === menu.base"><i class="ti" [class]="'ti-' + menu.icon"></i><span>
                      {{menu.menuValue }}</span><span class="menu-arrow"></span></a>
                  <ul [ngClass]="openMenuItem === menu ? 'show-sub-menu' : 'hide-sub-menu'">
                    @for (subMenus of menu.subMenus; track subMenus) {
                    @if (subMenus.customSubmenuTwo === false) {
                    <li><a [routerLink]="subMenus.route"  (click)="openSubmenuOne(subMenus)" [class.active]="page===subMenus.base">{{ subMenus.menuValue }}</a></li>
                    }
                    @if (subMenus.customSubmenuTwo === true) {
                    <li class="submenu submenu-two">
                      <a href="javascript:void(0);"
                        [class.active]=""
                        (click)="openSubmenuOne(subMenus)" [ngClass]="{'subdrop' : openSubmenuOneItem === subMenus}">
                        {{ subMenus.menuValue }}
                        <span class="menu-arrow inside-submenu"></span>
                      </a>
                      <ul [ngClass]="openSubmenuOneItem === subMenus ? 'show-sub-menu' : 'hide-sub-menu'">
                        @for (subMenuTwo of subMenus.subMenusTwo; track subMenuTwo) {
                        <li>
                          <a [routerLink]="subMenuTwo.route" [class.active]="page ===subMenuTwo.base">{{ subMenuTwo.menuValue
                            }} </a>
                        </li>
                        }
                      </ul>
                    </li>
                    }
                    }
                  </ul>
                </li>
                }
               
                }
              </ul>
            </li>
          
          }
        </ul>
      </div>
    </ng-scrollbar>
  </div>
</div>
<!-- /Sidebar -->

