<!-- Start Content -->
<div class="content">

    <!-- Page Header -->
    <div class="d-flex align-items-center justify-content-between gap-2 mb-4 flex-wrap">
        <div>
            <h4 class="mb-1">Settings</h4>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a [routerLink]="routes.index">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Settings</li>
                </ol>
            </nav>
        </div>
        <div class="gap-2 d-flex align-items-center flex-wrap">
            <a href="javascript:void(0);" class="btn btn-icon btn-outline-light shadow" data-bs-toggle="tooltip"
                data-bs-placement="top" aria-label="Refresh" data-bs-original-title="Refresh"><i
                    class="ti ti-refresh"></i></a>
            <app-collapse-header></app-collapse-header>
        </div>
    </div>
    <!-- End Page Header -->

    <div class="card border-0">
        <div class="card-body pb-0 pt-0 px-2">
            <ul class="nav nav-tabs nav-bordered nav-bordered-primary">
                <li class="nav-item me-3">
                    <a [routerLink]="routes.profileSettings" class="nav-link p-2">
                        <i class="ti ti-settings-cog me-2"></i>General Settings
                    </a>
                </li>
                <li class="nav-item me-3">
                    <a [routerLink]="routes.companySettings" class="nav-link p-2">
                        <i class="ti ti-world-cog me-2"></i>Website Settings
                    </a>
                </li>
                <li class="nav-item me-3">
                    <a [routerLink]="routes.invoiceSettings" class="nav-link p-2">
                        <i class="ti ti-apps me-2"></i>App Settings
                    </a>
                </li>
                <li class="nav-item me-3">
                    <a [routerLink]="routes.emailSettings" class="nav-link p-2 active">
                        <i class="ti ti-device-laptop me-2"></i>System Settings
                    </a>
                </li>
                <li class="nav-item me-3">
                    <a [routerLink]="routes.paymentGatewaySettings" class="nav-link p-2">
                        <i class="ti ti-moneybag me-2"></i>Financial Settings
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="routes.siteMap" class="nav-link p-2">
                        <i class="ti ti-flag-cog me-2"></i>Other Settings
                    </a>
                </li>
            </ul>
        </div> <!-- end card body -->
    </div> <!-- end card -->
    <!-- start row -->
    <div class="row">
        <div class="col-xl-3 col-lg-12 theiaStickySidebar">

            <div class="card mb-3 mb-xl-0">
                <div class="card-body">
                    <div class="settings-sidebar">
                        <h5 class="mb-3 fs-17">System Settings</h5>
                        <div class="list-group list-group-flush settings-sidebar">
                            <a [routerLink]="routes.emailSettings" class="d-block p-2 fw-medium active">Email Settings</a>
                            <a [routerLink]="routes.smsGateway" class="d-block p-2 fw-medium">SMS Gateways</a>
                            <a [routerLink]="routes.gdprSettings" class="d-block p-2 fw-medium">GDPR Cookies</a>
                        </div>
                    </div>
                </div> <!-- end card body -->
            </div> <!-- end card -->

        </div> <!-- end col -->

        <div class="col-xl-9 col-lg-12">

            <div class="card mb-0">
                <div class="card-body">
                    <div class="border-bottom mb-3 pb-3">
                        <h5 class="mb-0 fs-17">GDPR Cookies</h5>
                    </div>
                    <form>
                        <div class="border-bottom mb-3">
                            <div class="row align-items-center">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <h6 class="fs-14 fw-semibold mb-1">Cookies Content Text</h6>
                                        <p class="fs-13">You can configure the text here</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <ngx-editor [editor]="editor">
                                        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar" >
                                        </ngx-editor-menu>
                                        </ngx-editor>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <div class="mb-3">
                                        <h6 class="fs-14 fw-semibold mb-1">Cookies Position</h6>
                                        <p class="fs-13">You can configure the type</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <mat-select class="select custom-mat-select" placeholder="Right">
                                            <mat-option value="1" selected>Right</mat-option>
                                            <mat-option value="1">Left</mat-option>
                                        </mat-select>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <div class="mb-3">
                                        <h6 class="fs-14 fw-semibold mb-1">Agree Button Text</h6>
                                        <p class="fs-13">You can configure the text here</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <input type="text" class="form-control" value="Agree">
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <div class="mb-3">
                                        <h6 class="fs-14 fw-semibold mb-1">Decline Button Text</h6>
                                        <p class="fs-13">You can configure the text here</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <input type="text" class="form-control" value="Decline">
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <div class="mb-3">
                                        <h6 class="fs-14 fw-semibold mb-1">Show Decline Button</h6>
                                        <p class="fs-13">To display decline button</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <div class="form-check form-switch ms-0 ps-0">
                                            <input class="form-check-input ms-0 mt-0" type="checkbox" role="switch"
                                                checked>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col-md-8">
                                    <div class="mb-3">
                                        <h6 class="fs-14 fw-semibold mb-1">Link for Cookies Page</h6>
                                        <p class="fs-13">You can configure the link here</p>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="mb-3">
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-end flex-wrap gap-2">
                            <a href="#" class="btn btn-sm btn-light me-2">Cancel</a>
                            <button type="submit" class="btn btn-sm btn-primary">Save Changes</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- /GDPR Cookies -->

        </div>
    </div>

</div>
<!-- End Content -->