//
// _theme.scss
//

.invoice-logo-white{
    display: none;
}
 #compose-close{
        filter: invert(1) grayscale(100%) brightness(200%);
        opacity: 1;
}

// Theme
[data-layout="full-width"] {
    .full-width {
        .sidebar {
            margin-left: 0;
            opacity: 1;
            width: $sidenav-width;
            z-index: 9999;
            .sidebar-close {
                display: block;
            }
        }
        .slide-nav .sidebar {
            margin-left: 0;
        }
    }
    .navbar-header {
        margin-left: 0;
    }
    .sidebar {
        @include media-breakpoint-up(lg) {
            margin-left: calc($sidenav-width * -1);
            opacity: 0;
        }
    }
    .page-wrapper {
        margin-left: 0;
    }
}
[data-layout="hidden"] {
    .hidden-layout {
        .sidebar {
            margin-left: 0;
            opacity: 1;
            width: $sidenav-width;
        }
        .navbar-header {
            margin-left: $sidenav-width;
        }
        .page-wrapper {
            margin-left: $sidenav-width;
        }
    }
    .navbar-header {
        margin-left: 0;
    }
    .sidebar {
        @include media-breakpoint-up(lg) {
            margin-left: calc($sidenav-width * -1);
            opacity: 0;
        }
    }
    .page-wrapper {
        margin-left: 0;
    }
}
[data-sidebar="sidebar3"], [data-sidebar="sidebar4"], [data-sidebar="sidebar5"],
[data-sidebar="sidebar6"], [data-sidebar="sidebar7"], [data-sidebar="sidebar8"], [data-sidebar="gradientsidebar1"],
[data-sidebar="gradientsidebar2"], [data-sidebar="gradientsidebar3"], [data-sidebar="gradientsidebar4"],
[data-sidebar="gradientsidebar5"], [data-sidebar="gradientsidebar6"],  [data-sidebar="gradientsidebar7"] {
    .sidebar {
        .dark-logo {
            display: block;
        }
        .logo {
            display: none;
        }
    }
    @include media-breakpoint-up(lg) {
        .mini-sidebar .sidebar .sidebar-logo .dark-logo {
            display: none !important;
        }
        .mini-sidebar.expand-menu .sidebar .sidebar-logo .logo {
            display: none !important;
        }
        .mini-sidebar.expand-menu .sidebar .sidebar-logo .dark-logo {
            display: block !important;
        }
    }
}
[data-bs-theme="dark"] {
    .header {
        .header-left {
            .logo {
                display: none;
            }
            .dark-logo {
                display: block;
            }
        }
    }
    .sidebar {
        .sidebar-logo {
            .logo {
                display: none;
            }
            .dark-logo {
                display: block;
            }
        }
    }
    .mini-sidebar {
        .sidebar {
            .sidebar-logo {
                .dark-logo  {
                    display: none;
                }
            }
        }
        &.expand-menu {
            .sidebar {
                .sidebar-logo {
                    .dark-logo  {
                        display: block;
                    }
                    .logo-small, .logo {
                        display: none;
                    }
                }
            }
        }
    }
    .offcanvas-backdrop, .modal-backdrop.show, .sidebar-overlay{
        background-color: rgba(0,0,0,0.75);
    }
    .badge.bg-dark{
        color: $gray-900;
    }
    .table{
        .table-dark{
            th{
                background-color: $white;
            }
        }
    }
    .signature{
        filter: invert(1) brightness(2);
    }
    .invoice-logo-white{
       display: block;
    }
    .invoice-logo{
       display: none;
    }
    #compose-close{
        filter: invert(0) grayscale(100%) brightness(0%);
    }
    .fc-event.bg-dark .fc-event-time, .fc-event.bg-dark .fc-event-title{
        color: #000 !important;
    }

}
[data-sidebar="sidebar2"][data-bs-theme="dark"] {
    .sidebar {
        .dark-logo {
            display: none;
        }
        .logo {
            display: block;
        }
    }
    @include media-breakpoint-up(lg) {
        .mini-sidebar .sidebar .sidebar-logo {
            .dark-logo, .logo {
                display: none !important;
            }
        }
        .mini-sidebar .sidebar {
            .dark-logo, .logo {
                display: none !important;
            }
        }
        .mini-sidebar.expand-menu .sidebar .sidebar-logo .logo {
            display: block !important;
        }
        .mini-sidebar.expand-menu .sidebar .sidebar-logo .dark-logo {
            display: none !important;
        }
    }
}
.dark-logo {
    display: none;
}
[data-bs-theme="dark"] {
    .btn:active,.btn:focus,.btn.hover {
        color: $white;
    }
    .btn.active {
        color: $white !important;
        border-color: $primary !important;
    }
    .dark-logo {
        display: block;
    }
    .invoice-light-logo {
        display: none;
    }
    .welcome-wrap .bg-dark {
        background: $black !important;
    }
    .welcome-wrap {
        h2,p {
            color: $white !important;
        }
    }
    .bg-soft-indigo {
        color: $indigo;
        &:hover {
            color: $white;
        }
    }
    .border {
        border-color: var(--#{$prefix}border-color) !important;
    }
    .dropdown-menu {
        .form-check-reverse {
            .form-check-label {
                color: var(--#{$prefix}gray-900);
            }
            &:hover {
                .form-check-label {
                    color: var(--#{$prefix}dropdown-link-hover-color);
                }
            }
        }
    }
    .avatar.bg-primary.text-white {
        color: $white !important;
    }
    #preview {
        .offcanvas-body {
            .bg-light {
                background: var(--#{$prefix}light) !important;
            }
        }
    }
}
