 <!-- Start Content -->
            <div class="content pb-0">

                <!-- Page Header -->
                <div class="d-flex align-items-center justify-content-between gap-2 mb-4 flex-wrap">
                    <div>
                        <h4 class="mb-0">Analytics</h4>
                    </div>
                    <div class="gap-2 d-flex align-items-center flex-wrap">
                        <a href="javascript:void(0);" class="btn btn-icon btn-outline-light shadow" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Refresh" data-bs-original-title="Refresh"><i class="ti ti-refresh"></i></a>
                        <a href="javascript:void(0);" class="btn btn-icon btn-outline-light shadow" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Collapse" data-bs-original-title="Collapse" id="collapse-header"><i class="ti ti-transition-top"></i></a>
                    </div>
                </div>
				<!-- End Page Header -->

                <!-- start row -->
                <div class="row">

					<div class="col-xl-6">
						<div class="card">
							<div class="card-header">
								<div class="d-flex align-items-center justify-content-between flex-wrap gap-3">
									<h6 class="mb-0">Recently Created Contacts</h6>
									<div class="d-flex align-items-center flex-wrap gap-2">
										<div class="dropdown">
											<a class="dropdown-toggle btn btn-outline-white shadow" data-bs-toggle="dropdown" href="javascript:void(0);">
												Last 30 Days
											</a>
											<div class="dropdown-menu dropdown-menu-end">
												<a href="javascript:void(0);" class="dropdown-item">
													Last 30 Days
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Last 3 Months
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Last 6 Months
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table dataTable table-nowrap mb-0" id="analytic-contact">
										<thead class="table-light">
											<tr>
												<th>Contact</th>
												<th>Phone</th>
												<th>Created At</th>
											</tr>
										</thead>
										<tbody>
											<tr class="odd">
												<td>
													<div class="d-flex align-items-center"><a [routerLink]="routes.contactDetails" class="avatar"><img
																class="img-fluid rounded-circle" src="assets/img/profiles/avatar-09.jpg" alt="User Image"></a>
														<div class="ms-2">
															<h6 class="fs-14 fw-medium mb-1"><a [routerLink]="routes.contactDetails"
																	class="d-flex flex-column fw-medium">Elizabeth Morgan</a></h6><span
																class="text-body fs-13 d-inline-block">Product Manager </span>
														</div>
													</div>
												</td>
												<td>+1 87545 54503</td>
												<td>10 May 2025</td>
											</tr>
											<tr class="even">
												<td>
													<div class="d-flex align-items-center"><a [routerLink]="routes.contactDetails" class="avatar"><img
																class="img-fluid rounded-circle" src="assets/img/profiles/avatar-22.jpg" alt="User Image"></a>
														<div class="ms-2">
															<h6 class="fs-14 fw-medium mb-1"><a [routerLink]="routes.contactDetails"
																	class="d-flex flex-column fw-medium">Katherine Brooks</a></h6><span
																class="text-body fs-13 d-inline-block">Installer </span>
														</div>
													</div>
												</td>
												<td>+1 98975 17485</td>
												<td>02 May 2025</td>
											</tr>
											<tr class="odd">
												<td>
													<div class="d-flex align-items-center"><a [routerLink]="routes.contactDetails" class="avatar"><img
																class="img-fluid rounded-circle" src="assets/img/profiles/avatar-08.jpg" alt="User Image"></a>
														<div class="ms-2">
															<h6 class="fs-14 fw-medium mb-1"><a [routerLink]="routes.contactDetails"
																	class="d-flex flex-column fw-medium">Samantha Reed</a></h6><span
																class="text-body fs-13 d-inline-block">Human Resources </span>
														</div>
													</div>
												</td>
												<td>+1 54655 25455</td>
												<td>28 Apr 2025</td>
											</tr>
											<tr class="even">
												<td>
													<div class="d-flex align-items-center"><a [routerLink]="routes.contactDetails" class="avatar"><img
																class="img-fluid rounded-circle" src="assets/img/profiles/avatar-24.jpg" alt="User Image"></a>
														<div class="ms-2">
															<h6 class="fs-14 fw-medium mb-1"><a [routerLink]="routes.contactDetails"
																	class="d-flex flex-column fw-medium">William Anderson</a></h6><span
																class="text-body fs-13 d-inline-block">Data Analytics </span>
														</div>
													</div>
												</td>
												<td>+1 45447 58787</td>
												<td>16 Apr 2025</td>
											</tr>
											<tr class="odd">
												<td>
													<div class="d-flex align-items-center"><a [routerLink]="routes.contactDetails" class="avatar"><img
																class="img-fluid rounded-circle" src="assets/img/profiles/avatar-23.jpg" alt="User Image"></a>
														<div class="ms-2">
															<h6 class="fs-14 fw-medium mb-1"><a [routerLink]="routes.contactDetails"
																	class="d-flex flex-column fw-medium">Jonathan Mitchell</a></h6><span
																class="text-body fs-13 d-inline-block">Facility Manager </span>
														</div>
													</div>
												</td>
												<td>+1 12454 27845</td>
												<td>05 Apr 2025</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div> <!-- end card body -->
						</div> <!-- end card -->

						<div class="card">
							<div class="card-header">
								<div class="d-flex align-items-center justify-content-between flex-wrap gap-3">
									<h6 class="mb-0">Won Deals Stage</h6>
									<div class="d-flex align-items-center flex-wrap gap-2">
										<div class="dropdown me-2">
											<a class="dropdown-toggle btn btn-outline-white shadow" data-bs-toggle="dropdown" href="javascript:void(0);">
												Marketing Pipeline
											</a>
											<div class="dropdown-menu dropdown-menu-end">
												<a href="javascript:void(0);" class="dropdown-item">
													Marketing Pipeline
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Sales Pipeline
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Email
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Chats
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Operational
												</a>
											</div>
										</div>
										<div class="dropdown">
											<a class="dropdown-toggle btn btn-outline-white shadow" data-bs-toggle="dropdown" href="javascript:void(0);">
												Last 30 Days
											</a>
											<div class="dropdown-menu dropdown-menu-end">
												<a href="javascript:void(0);" class="dropdown-item">
													Last 30 Days
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Last 3 Months
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Last 6 Months
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body py-0">
								<div id="won-chart">
                                    <apx-chart
                [series]="chartOptions2.series"
                [chart]="chartOptions2.chart"
                [dataLabels]="chartOptions2.dataLabels"
                [plotOptions]="chartOptions2.plotOptions"
                [xaxis]="chartOptions2.xaxis"
                [colors]="chartOptions2.colors"
              ></apx-chart>
                                </div>
							</div> <!-- end card body -->
						</div> <!-- end card -->

						<div class="card">
							<div class="card-header">
								<div class="d-flex align-items-center justify-content-between flex-wrap gap-3">
									<h6 class="mb-0">Recently Created Deals</h6>
									<div class="d-flex align-items-center flex-wrap gap-2">
										<div class="dropdown">
											<a class="dropdown-toggle btn btn-outline-white shadow" data-bs-toggle="dropdown" href="javascript:void(0);">
												Last 30 Days
											</a>
											<div class="dropdown-menu dropdown-menu-end">
												<a href="javascript:void(0);" class="dropdown-item">
													Last 30 Days
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Last 3 Months
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Last 6 Months
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-nowrap custom-table mb-0" id="analytic-deal">
										<thead class="table-light">
											<tr>
												<th>Deal Name</th>
												<th>Stage</th>
												<th>Deal Value</th>
												<th>Probability</th>
												<th>Status</th>
											</tr>
										</thead>
										<tbody>
											<tr class="odd">
												<td><a [routerLink]="routes.dealsDetails"> Collins</a></td>
												<td>Conversation</td>
												<td>$04,51,000</td>
												<td>85%</td>
												<td><span class="badge badge-pill badge-status bg-info"> Open</span></td>
											</tr>
											<tr class="even">
												<td><a [routerLink]="routes.dealsDetails"> Konopelski</a></td>
												<td>Pipeline</td>
												<td>$04,14,800</td>
												<td>15%</td>
												<td><span class="badge badge-pill badge-status bg-danger"> Lost</span></td>
											</tr>
											<tr class="odd">
												<td><a [routerLink]="routes.dealsDetails"> Adams</a></td>
												<td>Won</td>
												<td>$04,14,800</td>
												<td>95%</td>
												<td><span class="badge badge-pill badge-status bg-success"> Won</span></td>
											</tr>
											<tr class="even">
												<td><a [routerLink]="routes.dealsDetails"> Schumm</a></td>
												<td>Lost</td>
												<td>$9,14,400</td>
												<td>47%</td>
												<td><span class="badge badge-pill badge-status bg-success"> Won</span></td>
											</tr>
											<tr class="odd">
												<td><a [routerLink]="routes.dealsDetails"> Wisozk</a></td>
												<td>Follow Up</td>
												<td>$11,14,400</td>
												<td>98%</td>
												<td><span class="badge badge-pill badge-status bg-success"> Won</span></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div> <!-- end card body -->
						</div> <!-- end card -->

						<div class="card">
							<div class="card-header">
								<div class="d-flex align-items-center justify-content-between flex-wrap gap-3">
									<h6 class="mb-0">Lost Leads Stage</h6>
									<div class="d-flex align-items-center flex-wrap gap-2">
										<div class="dropdown me-2">
											<a class="dropdown-toggle btn btn-outline-white shadow" data-bs-toggle="dropdown" href="javascript:void(0);">
												Marketing Pipeline
											</a>
											<div class="dropdown-menu dropdown-menu-end">
												<a href="javascript:void(0);" class="dropdown-item">
													Marketing Pipeline
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Sales Pipeline
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Email
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Chats
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Operational
												</a>
											</div>
										</div>
										<div class="dropdown">
											<a class="dropdown-toggle btn btn-outline-white shadow" data-bs-toggle="dropdown" href="javascript:void(0);">
												Last 30 Days
											</a>
											<div class="dropdown-menu dropdown-menu-end">
												<a href="javascript:void(0);" class="dropdown-item">
													Last 30 Days
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Last 3 Months
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Last 6 Months
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body py-0">
								<div id="last-chart-2">
                                     <apx-chart
                [series]="chartOptions.series"
                [chart]="chartOptions.chart"
                [dataLabels]="chartOptions.dataLabels"
                [plotOptions]="chartOptions.plotOptions"
                [xaxis]="chartOptions.xaxis"
                [colors]="chartOptions.colors"
              ></apx-chart>
                                </div>
							</div> <!-- end card body -->
						</div> <!-- end card -->

						<div class="card ">
							<div class="card-header">
								<div class="d-flex align-items-center justify-content-between flex-wrap gap-3">
									<h6 class="mb-0">Leads By Stage</h6>
									<div class="d-flex align-items-center flex-wrap gap-2">
										<div class="dropdown me-2">
											<a class="dropdown-toggle btn btn-outline-white shadow" data-bs-toggle="dropdown" href="javascript:void(0);">
												Sales Pipeline
											</a>
											<div class="dropdown-menu dropdown-menu-end">
												<a href="javascript:void(0);" class="dropdown-item">
													Marketing Pipeline
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Sales Pipeline
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Email
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Chats
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Operational
												</a>
											</div>
										</div>
										<div class="dropdown">
											<a class="dropdown-toggle btn btn-outline-white shadow" data-bs-toggle="dropdown" href="javascript:void(0);">
												Last 30 Days
											</a>
											<div class="dropdown-menu dropdown-menu-end">
												<a href="javascript:void(0);" class="dropdown-item">
													Last 30 Days
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Last 3 Months
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Last 6 Months
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body py-0">
								<div id="leads-chart">
                                    <apx-chart
                [series]="chartOptions3.series"
                [chart]="chartOptions3.chart"
                [dataLabels]="chartOptions3.dataLabels"
                [plotOptions]="chartOptions3.plotOptions"
                [yaxis]="chartOptions3.yaxis"
                [xaxis]="chartOptions3.xaxis"
                [stroke]="chartOptions3.stroke"
                [grid]="chartOptions3.grid"
                [fill]="chartOptions3.fill"
                [annotations]="chartOptions3.annotations"
                [colors]="chartOptions3.colors"
              ></apx-chart>
                                </div>
							</div> <!-- end card body -->
						</div> <!-- end card -->

						<div class="card">
							<div class="card-header">
								<div class="d-flex align-items-center justify-content-between flex-wrap gap-3">
									<h6 class="mb-0">Recently Added Companies</h6>
									<div class="d-flex align-items-center flex-wrap gap-2">
										<div class="dropdown">
											<a class="dropdown-toggle btn btn-outline-white shadow" data-bs-toggle="dropdown" href="javascript:void(0);">
												Last 30 Days
											</a>
											<div class="dropdown-menu dropdown-menu-end">
												<a href="javascript:void(0);" class="dropdown-item">
													Last 30 Days
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Last 3 Months
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Last 6 Months
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-nowrap mb-0" id="analytic-company">
										<thead class="table-light">
											<tr>
												<th>Company Name</th>
												<th>Phone</th>
												<th>Created at</th>
											</tr>
										</thead>
										<tbody>
											<tr class="odd">
												<td>
													<div class="d-flex align-items-center"><a [routerLink]="routes.companiesDetails"
															class="avatar avatar-rounded border"><img class="w-auto h-auto"
																src="assets/img/icons/company-icon-01.svg" alt="User Image"></a>
														<div class="ms-2">
															<h6 class="fs-14 fw-medium mb-0"><a [routerLink]="routes.companiesDetails">NovaWaveLLC</a></h6>
														</div>
													</div>
												</td>
												<td>+1 87545 54503</td>
												<td>10 May 2025</td>
											</tr>
											<tr class="even">
												<td>
													<div class="d-flex align-items-center"><a [routerLink]="routes.companiesDetails"
															class="avatar avatar-rounded border"><img class="w-auto h-auto"
																src="assets/img/icons/company-icon-02.svg" alt="User Image"></a>
														<div class="ms-2">
															<h6 class="fs-14 fw-medium mb-0"><a [routerLink]="routes.companiesDetails">BlueSky Industries</a></h6>
														</div>
													</div>
												</td>
												<td>+1 98975 17485</td>
												<td>02 May 2025</td>
											</tr>
											<tr class="odd">
												<td>
													<div class="d-flex align-items-center"><a [routerLink]="routes.companiesDetails"
															class="avatar avatar-rounded border"><img class="w-auto h-auto"
																src="assets/img/icons/company-icon-03.svg" alt="User Image"></a>
														<div class="ms-2">
															<h6 class="fs-14 fw-medium mb-0"><a [routerLink]="routes.companiesDetails">Silver Hawk</a></h6>
														</div>
													</div>
												</td>
												<td>+1 54655 25455</td>
												<td>28 Apr 2025</td>
											</tr>
											<tr class="even">
												<td>
													<div class="d-flex align-items-center"><a [routerLink]="routes.companiesDetails"
															class="avatar avatar-rounded border"><img class="w-auto h-auto"
																src="assets/img/icons/company-icon-04.svg" alt="User Image"></a>
														<div class="ms-2">
															<h6 class="fs-14 fw-medium mb-0"><a [routerLink]="routes.companiesDetails">Summit Peak</a></h6>
														</div>
													</div>
												</td>
												<td>+1 45447 58787</td>
												<td>16 Apr 2025</td>
											</tr>
											<tr class="odd">
												<td>
													<div class="d-flex align-items-center"><a [routerLink]="routes.companiesDetails"
															class="avatar avatar-rounded border"><img class="w-auto h-auto"
																src="assets/img/icons/company-icon-05.svg" alt="User Image"></a>
														<div class="ms-2">
															<h6 class="fs-14 fw-medium mb-0"><a [routerLink]="routes.companiesDetails">RiverStone Ltd</a></h6>
														</div>
													</div>
												</td>
												<td>+1 12454 27845</td>
												<td>05 Apr 2025</td>
											</tr>
											<tr class="even">
												<td>
													<div class="d-flex align-items-center"><a [routerLink]="routes.companiesDetails"
															class="avatar avatar-rounded border"><img class="w-auto h-auto"
																src="assets/img/icons/company-icon-06.svg" alt="User Image"></a>
														<div class="ms-2">
															<h6 class="fs-14 fw-medium mb-0"><a [routerLink]="routes.companiesDetails">Redwood Inc</a></h6>
														</div>
													</div>
												</td>
												<td>+1 46789 27845</td>
												<td>15 Nov 2025</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div> <!-- end card body -->
						</div> <!-- end card -->
					</div> <!-- end col -->

					<div class="col-xl-6">
						<div class="card">
							<div class="card-header">
								<div class="d-flex align-items-center justify-content-between flex-wrap gap-3">
									<h6 class="mb-0">Deals By Stage</h6>
									<div class="d-flex align-items-center flex-wrap gap-2">
										<div class="dropdown me-2">
											<a class="dropdown-toggle btn btn-outline-white shadow" data-bs-toggle="dropdown" href="javascript:void(0);">
												Sales Pipeline
											</a>
											<div class="dropdown-menu dropdown-menu-end">
												<a href="javascript:void(0);" class="dropdown-item">
													Marketing Pipeline
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Sales Pipeline
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Email
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Chats
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Operational
												</a>
											</div>
										</div>
										<div class="dropdown">
											<a class="dropdown-toggle btn btn-outline-white shadow" data-bs-toggle="dropdown" href="javascript:void(0);">
												Last 30 Days
											</a>
											<div class="dropdown-menu dropdown-menu-end">
												<a href="javascript:void(0);" class="dropdown-item">
													Last 30 Days
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Last 3 Months
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Last 6 Months
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body py-0">
								<div id="deals-chart">
                                    <apx-chart
                [series]="dealschart.series"
                [chart]="dealschart.chart"
                [dataLabels]="dealschart.dataLabels"
                [plotOptions]="dealschart.plotOptions"
                [yaxis]="dealschart.yaxis"
                [xaxis]="dealschart.xaxis"
                [stroke]="dealschart.stroke"
                [grid]="dealschart.grid"
                [fill]="dealschart.fill"
                [annotations]="dealschart.annotations"
                [colors]="dealschart.colors"
              ></apx-chart>
                                </div>
							</div> <!-- end card body -->
						</div> <!-- end card -->

						<div class="card">
							<div class="card-header">
								<div class="d-flex align-items-center justify-content-between flex-wrap gap-3">
									<h6 class="mb-0">Activities</h6>
									<div class="d-flex align-items-center flex-wrap gap-2">
										<div class="dropdown">
											<a class="dropdown-toggle btn btn-outline-white shadow" data-bs-toggle="dropdown" href="javascript:void(0);">
												Last 30 Days
											</a>
											<div class="dropdown-menu dropdown-menu-end">
												<a href="javascript:void(0);" class="dropdown-item">
													Last 30 Days
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Last 3 Months
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Last 6 Months
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body">
								<div class="card">
									<div class="card-body p-3">

										<!-- start row -->
										<div class="row align-items-center row-gap-2">

											<div class="col-sm-4">
												<div class="activity-name">
													<h6 class="fs-14 fw-medium mb-1">We scheduled a meeting</h6>
													<p class="fs-13 mb-1">25 sep 2025, 12:12 PM</p>
													<span class="badge bg-info">Meeting</span>
												</div>
											</div> <!-- end col -->

											<div class="col-sm-4">
												<div class="d-flex align-items-center">
													<span class="avatar flex-shrink-0">
														<img src="assets/img/profiles/avatar-12.jpg" class="rounded-circle" alt="Img">
													</span>
													<div class="ms-2">
														<h6 class="fs-14 fw-medium mb-1">Elizabeth Morgan</h6>
														<p class="fs-13 mb-0">Product Manager</p>
													</div>
												</div>
											</div> <!-- end col -->

											<div class="col-sm-4">
												<div class="text-sm-end">
													<div class="dropdown">
														<a class="dropdown-toggle btn btn-sm btn-outline-light shadow" data-bs-toggle="dropdown" href="javascript:void(0);">
															Inprogress
														</a>
														<div class="dropdown-menu dropdown-menu-end">
															<a href="javascript:void(0);" class="dropdown-item">
																Completed
															</a>
															<a href="javascript:void(0);" class="dropdown-item">
																Inprogress
															</a>
															<a href="javascript:void(0);" class="dropdown-item">
																Cancelled
															</a>
														</div>
													</div>	
												</div>
											</div> <!-- end col -->
											
										</div>
										<!-- end row -->

									</div> <!-- end card body -->
								</div> <!-- end card -->

								<div class="card">
									<div class="card-body p-3">

										<!-- start row -->
										<div class="row align-items-center row-gap-2">

											<div class="col-sm-4">
												<div class="activity-name">
													<h6 class="fs-14 fw-medium mb-1">We scheduled a meeting</h6>
													<p class="fs-13 mb-1">28 sep 2025, 12:12 PM</p>
													<span class="badge bg-secondary">Email</span>
												</div>
											</div> <!-- end col -->

											<div class="col-sm-4">
												<div class="d-flex align-items-center">
													<span class="avatar flex-shrink-0">
														<img src="assets/img/profiles/avatar-13.jpg" class="rounded-circle" alt="Img">
													</span>
													<div class="ms-2">
														<h6 class="fs-14 fw-medium mb-1">Katherine Brooks</h6>
														<p class="fs-13 mb-0">Installer</p>
													</div>
												</div>
											</div> <!-- end col -->

											<div class="col-sm-4">
												<div class="text-sm-end">
													<div class="dropdown">
														<a class="dropdown-toggle btn btn-sm btn-outline-light shadow" data-bs-toggle="dropdown" href="javascript:void(0);">
															Inprogress
														</a>
														<div class="dropdown-menu dropdown-menu-end">
															<a href="javascript:void(0);" class="dropdown-item">
																Completed
															</a>
															<a href="javascript:void(0);" class="dropdown-item">
																Inprogress
															</a>
															<a href="javascript:void(0);" class="dropdown-item">
																Cancelled
															</a>
														</div>
													</div>	
												</div>	
											</div> <!-- end col -->

										</div>
										<!-- end row -->
											 
									</div> <!-- end card body -->
								</div> <!-- end card -->

								<div class="card">
									<div class="card-body p-3">

										<!-- start row -->
										<div class="row align-items-center row-gap-2">

											<div class="col-sm-4">
												<div class="activity-name">
													<h6 class="fs-14 fw-medium mb-1">We scheduled a meeting</h6>
													<p class="fs-13 mb-1">25 jun 2025, 12:12 PM</p>
													<span class="badge bg-cyan">Task</span>
												</div>
											</div> <!-- end col -->

											<div class="col-sm-4">
												<div class="d-flex align-items-center">
													<span class="avatar flex-shrink-0">
														<img src="assets/img/profiles/avatar-18.jpg" class="rounded-circle" alt="Img">
													</span>
													<div class="ms-2">
														<h6 class="fs-14 fw-medium mb-1">Samantha Reed</h6>
														<p class="fs-13 mb-0">Human Resources</p>
													</div>
												</div>
											</div> <!-- end col -->

											<div class="col-sm-4">
												<div class="text-sm-end">
													<div class="dropdown">
														<a class="dropdown-toggle btn btn-sm btn-outline-light shadow" data-bs-toggle="dropdown" href="javascript:void(0);">
															Inprogress
														</a>
														<div class="dropdown-menu dropdown-menu-end">
															<a href="javascript:void(0);" class="dropdown-item">
																Completed
															</a>
															<a href="javascript:void(0);" class="dropdown-item">
																Inprogress
															</a>
															<a href="javascript:void(0);" class="dropdown-item">
																Cancelled
															</a>
														</div>
													</div>	
												</div>
											</div> <!-- end col -->

										</div>
										<!-- end row -->

									</div> <!-- end card body -->
								</div> <!-- end card -->

								<div class="card mb-0">
									<div class="card-body p-3">
										
										<!-- start row -->
										<div class="row align-items-center row-gap-2">

											<div class="col-sm-4">
												<div class="activity-name">
													<h6 class="fs-14 fw-medium mb-1">We scheduled a meeting</h6>
													<p class="fs-13 mb-1">20 sep 2025, 12:00 PM</p>
													<span class="badge bg-teal">Calls</span>
												</div>
											</div> <!-- end col -->

											<div class="col-sm-4">
												<div class="d-flex align-items-center">
													<span class="avatar flex-shrink-0">
														<img src="assets/img/profiles/avatar-20.jpg" class="rounded-circle" alt="Img">
													</span>
													<div class="ms-2">
														<h6 class="fs-14 fw-medium mb-1">William Anderson</h6>
														<p class="fs-13 mb-0">Data Analytics</p>
													</div>
												</div>
											</div> <!-- end col -->

											<div class="col-sm-4">
												<div class="text-sm-end">
													<div class="dropdown">
														<a class="dropdown-toggle btn btn-sm btn-outline-light shadow" data-bs-toggle="dropdown" href="javascript:void(0);">
															Inprogress
														</a>
														<div class="dropdown-menu dropdown-menu-end">
															<a href="javascript:void(0);" class="dropdown-item">
																Completed
															</a>
															<a href="javascript:void(0);" class="dropdown-item">
																Inprogress
															</a>
															<a href="javascript:void(0);" class="dropdown-item">
																Cancelled
															</a>
														</div>
													</div>	
												</div>	
											</div> <!-- end col -->
											
										</div>
										<!-- end row -->

									</div>		
								</div>
							</div> <!-- end card body -->
						</div> <!-- end card -->

						<div class="card">
							<div class="card-header">
								<div class="d-flex align-items-center justify-content-between flex-wrap gap-3">
									<h6 class="mb-0">Lost Leads Stage</h6>
									<div class="d-flex align-items-center flex-wrap gap-2">
										<div class="dropdown me-2">
											<a class="dropdown-toggle btn btn-outline-white shadow" data-bs-toggle="dropdown" href="javascript:void(0);">
												Marketing Pipeline
											</a>
											<div class="dropdown-menu dropdown-menu-end">
												<a href="javascript:void(0);" class="dropdown-item">
													Marketing Pipeline
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Sales Pipeline
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Email
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Chats
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Operational
												</a>
											</div>
										</div>
										<div class="dropdown">
											<a class="dropdown-toggle btn btn-outline-white shadow" data-bs-toggle="dropdown" href="javascript:void(0);">
												Last 30 Days
											</a>
											<div class="dropdown-menu dropdown-menu-end">
												<a href="javascript:void(0);" class="dropdown-item">
													Last 30 Days
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Last 3 Months
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Last 6 Months
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body py-0">
								<div id="last-chart">
									 <apx-chart
                [series]="chartOptions4.series"
                [chart]="chartOptions4.chart"
                [dataLabels]="chartOptions4.dataLabels"
                [plotOptions]="chartOptions4.plotOptions"
                [xaxis]="chartOptions4.xaxis"
                [colors]="chartOptions4.colors"
              ></apx-chart>
								</div>
							</div> <!-- end card body -->
						</div> <!-- end card -->

						<div class="card ">
							<div class="card-header">
								<div class="d-flex align-items-center justify-content-between flex-wrap gap-3">
									<h6 class="mb-0">Recently Created Leads</h6>
									<div class="d-flex align-items-center flex-wrap gap-2">
										<div class="dropdown me-2">
											<a class="dropdown-toggle btn btn-outline-white shadow" data-bs-toggle="dropdown" href="javascript:void(0);">
												Last 30 Days
											</a>
											<div class="dropdown-menu dropdown-menu-end">
												<a href="javascript:void(0);" class="dropdown-item">
													Last 30 Days
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Last 3 Months
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Last 6 Months
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-nowrap mb-0" id="analytic-lead">
										<thead class="table-light">
											<tr>
												<th>Lead Name</th>
												<th>Company Name</th>
												<th>Phone</th>
												<th>Status</th>
											</tr>
										</thead>
										<tbody>
											<tr class="odd">
												<td><a [routerLink]="routes.leadsDetails"> Collins</a></td>
												<td>
													<div class="d-flex align-items-center"><a [routerLink]="routes.leadsDetails"
															class="avatar avatar-rounded border"><img class="w-auto h-auto"
																src="assets/img/icons/company-icon-01.svg" alt="User Image"></a>
														<div class="ms-2">
															<h6 class="fs-14 fw-medium mb-0"><a [routerLink]="routes.leadsDetails"
																	class="d-flex flex-column">NovaWaveLLC</a></h6>
														</div>
													</div>
												</td>
												<td>+1 87545 54503</td>
												<td><span class="badge badge-pill text-white bg-success"> Closed</span></td>
											</tr>
											<tr class="even">
												<td><a [routerLink]="routes.leadsDetails"> Konopelski</a></td>
												<td>
													<div class="d-flex align-items-center"><a [routerLink]="routes.leadsDetails"
															class="avatar avatar-rounded border"><img class="w-auto h-auto"
																src="assets/img/icons/company-icon-02.svg" alt="User Image"></a>
														<div class="ms-2">
															<h6 class="fs-14 fw-medium mb-0"><a [routerLink]="routes.leadsDetails" class="d-flex flex-column">BlueSky</a>
															</h6>
														</div>
													</div>
												</td>
												<td>+1 98975 17485</td>
												<td><span class="badge badge-pill text-white bg-warning"> Contacted</span></td>
											</tr>
											<tr class="odd">
												<td><a [routerLink]="routes.leadsDetails"> Adams</a></td>
												<td>
													<div class="d-flex align-items-center"><a [routerLink]="routes.leadsDetails"
															class="avatar avatar-rounded border"><img class="w-auto h-auto"
																src="assets/img/icons/company-icon-03.svg" alt="User Image"></a>
														<div class="ms-2">
															<h6 class="fs-14 fw-medium mb-0"><a [routerLink]="routes.leadsDetails" class="d-flex flex-column">Silver
																	Hawk</a></h6>
														</div>
													</div>
												</td>
												<td>+1 54655 25455</td>
												<td><span class="badge badge-pill text-white bg-success"> Closed</span></td>
											</tr>
											<tr class="even">
												<td><a [routerLink]="routes.leadsDetails"> Schumm</a></td>
												<td>
													<div class="d-flex align-items-center"><a [routerLink]="routes.leadsDetails"
															class="avatar avatar-rounded border"><img class="w-auto h-auto"
																src="assets/img/icons/company-icon-04.svg" alt="User Image"></a>
														<div class="ms-2">
															<h6 class="fs-14 fw-medium mb-0"><a [routerLink]="routes.leadsDetails" class="d-flex flex-column">Summit
																	Peak</a></h6>
														</div>
													</div>
												</td>
												<td>+1 45447 58787</td>
												<td><span class="badge badge-pill text-white bg-warning"> Contacted</span></td>
											</tr>
											<tr class="odd">
												<td><a [routerLink]="routes.leadsDetails"> Wisozk</a></td>
												<td>
													<div class="d-flex align-items-center"><a [routerLink]="routes.leadsDetails"
															class="avatar avatar-rounded border"><img class="w-auto h-auto"
																src="assets/img/icons/company-icon-05.svg" alt="User Image"></a>
														<div class="ms-2">
															<h6 class="fs-14 fw-medium mb-0"><a [routerLink]="routes.leadsDetails" class="d-flex flex-column">RiverStone
																	Ltd</a></h6>
														</div>
													</div>
												</td>
												<td>+1 12454 27845</td>
												<td><span class="badge badge-pill text-white bg-success"> Closed</span></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div> <!-- end card body -->
						</div> <!-- end card -->
						
						<div class="card">
							<div class="card-header">
								<div class="d-flex align-items-center justify-content-between flex-wrap gap-3">
									<h6 class="mb-0">Recently Created Campaign</h6>
									<div class="d-flex align-items-center flex-wrap gap-2">
										<div class="dropdown">
											<a class="dropdown-toggle btn btn-outline-white shadow" data-bs-toggle="dropdown" href="javascript:void(0);">
												Last 30 Days
											</a>
											<div class="dropdown-menu dropdown-menu-end">
												<a href="javascript:void(0);" class="dropdown-item">
													Last 30 Days
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Last 3 Months
												</a>
												<a href="javascript:void(0);" class="dropdown-item">
													Last 6 Months
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body">
								<div class="overflow-x-auto">									
									<div class="card w-min-content mb-3">
										<div class="card-body p-3">
											<div class="border-bottom mb-2 pb-2">
												<div class="d-flex align-items-center gap-3">
													<div class="w-25">
														<h6 class="fs-14 fw-medium mb-1">Distribution</h6>
														<p class="fs-13 mb-0">Public Relations</p>
													</div>
													<div class="w-auto">
														<div class="d-flex align-items-center gap-2">
															<div>
																<h6 class="fs-14 fw-semibold mb-1">40.5%</h6>
																<p class="fs-13 mb-0">Opened</p>
															</div>
															<div>
																<h6 class="fs-14 fw-semibold mb-1">20.5%</h6>
																<p class="fs-13 mb-0">Closed</p>
															</div>
															<div>
																<h6 class="fs-14 fw-semibold mb-1">30.5%</h6>
																<p class="fs-13 mb-0">Unsubscribe</p>
															</div>
															<div>
																<h6 class="fs-14 fw-semibold mb-1">70.5%</h6>
																<p class="fs-13 mb-0">Delivered</p>
															</div>
															<div>
																<h6 class="fs-14 fw-semibold mb-1">35.0%</h6>
																<p class="fs-13 mb-0">Conversation</p>
															</div>
														</div>
													</div>
												</div>
											</div>											
											<div class="d-flex align-items-center justify-content-between">
												<div class="d-flex align-items-center gap-2">
													<span class="badge badge-pill bg-danger">Bounced</span>
													<p class="fs-13 mb-0">Due Date : 25 Sep 2025</p>
												</div>
												<div class="avatar-list-stacked avatar-group-sm">
													<a href="#" class="avatar avatar-rounded"><img src="assets/img/profiles/avatar-14.jpg" class="border border-white" alt="img"></a>
													<a href="#" class="avatar avatar-rounded"><img src="assets/img/profiles/avatar-15.jpg" class="border border-white" alt="img"></a>
													<a href="#" class="avatar avatar-rounded"><img src="assets/img/profiles/avatar-16.jpg" class="border border-white" alt="img"></a>
													<a href="#" class="avatar avatar-rounded"><img src="assets/img/profiles/avatar-17.jpg" class="border border-white" alt="img"></a>
													<a href="#" class="avatar avatar-rounded bg-light text-dark fs-10 fw-medium">+8</a>
												</div>
											</div>
										</div> <!-- end card body -->
									</div> <!-- end card -->

									<div class="card w-min-content mb-3">
										<div class="card-body p-3">
											<div class="border-bottom mb-2 pb-2">
												<div class="d-flex align-items-center gap-3">
													<div class="w-25">
														<h6 class="fs-14 fw-medium mb-1">Pricing</h6>
														<p class="fs-13 mb-0">Social Marketing</p>
													</div>
													<div class="w-auto">
														<div class="d-flex align-items-center gap-2">
															<div>
																<h6 class="fs-14 fw-semibold mb-1">70.5%</h6>
																<p class="fs-13 mb-0">Opened</p>
															</div>
															<div>
																<h6 class="fs-14 fw-semibold mb-1">90.5%</h6>
																<p class="fs-13 mb-0">Closed</p>
															</div>
															<div>
																<h6 class="fs-14 fw-semibold mb-1">20.5%</h6>
																<p class="fs-13 mb-0">Unsubscribe</p>
															</div>
															<div>
																<h6 class="fs-14 fw-semibold mb-1">90.5%</h6>
																<p class="fs-13 mb-0">Delivered</p>
															</div>
															<div>
																<h6 class="fs-14 fw-semibold mb-1">98.0%</h6>
																<p class="fs-13 mb-0">Conversation</p>
															</div>
														</div>
													</div>
												</div>
											</div>											
											<div class="d-flex align-items-center justify-content-between">
												<div class="d-flex align-items-center gap-2">
													<span class="badge badge-pill bg-teal">Running</span>
													<p class="fs-13 mb-0">Due Date : 28 Sep 2025</p>
												</div>
												<div class="avatar-list-stacked avatar-group-sm">
													<a href="#" class="avatar avatar-rounded"><img src="assets/img/profiles/avatar-11.jpg" class="border border-white" alt="img"></a>
													<a href="#" class="avatar avatar-rounded"><img src="assets/img/profiles/avatar-12.jpg" class="border border-white" alt="img"></a>
													<a href="#" class="avatar avatar-rounded"><img src="assets/img/profiles/avatar-13.jpg" class="border border-white" alt="img"></a>
													<a href="#" class="avatar avatar-rounded"><img src="assets/img/profiles/avatar-14.jpg" class="border border-white" alt="img"></a>
													<a href="#" class="avatar avatar-rounded bg-light text-dark fs-10 fw-medium">+2</a>
												</div>
											</div>
										</div> <!-- end card body -->
									</div> <!-- end card -->

									<div class="card w-min-content mb-3">
										<div class="card-body p-3">
											<div class="border-bottom mb-2 pb-2">
												<div class="d-flex align-items-center gap-3">
													<div class="w-25">
														<h6 class="fs-14 fw-medium mb-1">Merchandising</h6>
														<p class="fs-13 mb-0">Content Marketing</p>
													</div>
													<div class="w-auto">
														<div class="d-flex align-items-center gap-2">
															<div>
																<h6 class="fs-14 fw-semibold mb-1">30.5%</h6>
																<p class="fs-13 mb-0">Opened</p>
															</div>
															<div>
																<h6 class="fs-14 fw-semibold mb-1">10.5%</h6>
																<p class="fs-13 mb-0">Closed</p>
															</div>
															<div>
																<h6 class="fs-14 fw-semibold mb-1">70.5%</h6>
																<p class="fs-13 mb-0">Unsubscribe</p>
															</div>
															<div>
																<h6 class="fs-14 fw-semibold mb-1">90.5%</h6>
																<p class="fs-13 mb-0">Delivered</p>
															</div>
															<div>
																<h6 class="fs-14 fw-semibold mb-1">45.0%</h6>
																<p class="fs-13 mb-0">Conversation</p>
															</div>
														</div>
													</div>
												</div>
											</div>											
											<div class="d-flex align-items-center justify-content-between">
												<div class="d-flex align-items-center gap-2">
													<span class="badge badge-pill bg-cyan">Paused</span>
													<p class="fs-13 mb-0">Due Date : 14 Sep 2025</p>
												</div>
												<div class="avatar-list-stacked avatar-group-sm">
													<a href="#" class="avatar avatar-rounded"><img src="assets/img/profiles/avatar-02.jpg" class="border border-white" alt="img"></a>
													<a href="#" class="avatar avatar-rounded"><img src="assets/img/profiles/avatar-04.jpg" class="border border-white" alt="img"></a>
													<a href="#" class="avatar avatar-rounded"><img src="assets/img/profiles/avatar-06.jpg" class="border border-white" alt="img"></a>
													<a href="#" class="avatar avatar-rounded"><img src="assets/img/profiles/avatar-08.jpg" class="border border-white" alt="img"></a>
													<a href="#" class="avatar avatar-rounded bg-light text-dark fs-10 fw-medium">+4</a>
												</div>
											</div>										
										</div> <!-- end card body -->
									</div> <!-- end card -->

									<div class="card w-min-content mb-0">
										<div class="card-body p-3">
											<div class="border-bottom mb-2 pb-2">
												<div class="d-flex align-items-center gap-3">
													<div class="w-25">
														<h6 class="fs-14 fw-medium mb-1">Repeat Customer</h6>
														<p class="fs-13 mb-0">Rebranding</p>
													</div>
													<div class="w-auto">
														<div class="d-flex align-items-center gap-2">
															<div>
																<h6 class="fs-14 fw-semibold mb-1">80.5%</h6>
																<p class="fs-13 mb-0">Opened</p>
															</div>
															<div>
																<h6 class="fs-14 fw-semibold mb-1">20.5%</h6>
																<p class="fs-13 mb-0">Closed</p>
															</div>
															<div>
																<h6 class="fs-14 fw-semibold mb-1">70.5%</h6>
																<p class="fs-13 mb-0">Unsubscribe</p>
															</div>
															<div>
																<h6 class="fs-14 fw-semibold mb-1">60.5%</h6>
																<p class="fs-13 mb-0">Delivered</p>
															</div>
															<div>
																<h6 class="fs-14 fw-semibold mb-1">75.0%</h6>
																<p class="fs-13 mb-0">Conversation</p>
															</div>
														</div>
													</div>
												</div>
											</div>											
											<div class="d-flex align-items-center justify-content-between">
												<div class="d-flex align-items-center gap-2">
													<span class="badge badge-pill bg-danger">Bounced</span>
													<p class="fs-13 mb-0">Due Date : 25 Sep 2023</p>
												</div>
												<div class="avatar-list-stacked avatar-group-sm">
													<a href="#" class="avatar avatar-rounded"><img src="assets/img/profiles/avatar-01.jpg" class="border border-white" alt="img"></a>
													<a href="#" class="avatar avatar-rounded"><img src="assets/img/profiles/avatar-03.jpg" class="border border-white" alt="img"></a>
													<a href="#" class="avatar avatar-rounded"><img src="assets/img/profiles/avatar-05.jpg" class="border border-white" alt="img"></a>
													<a href="#" class="avatar avatar-rounded"><img src="assets/img/profiles/avatar-07.jpg" class="border border-white" alt="img"></a>
													<a href="#" class="avatar avatar-rounded bg-light text-dark fs-10 fw-medium">+5</a>
												</div>
											</div>
										</div> <!-- end card body -->
									</div> <!-- end card -->
									
								</div>
							</div> <!-- end card body -->
						</div> <!-- end card -->

					</div>
				</div>
                <!-- end row -->

            </div>
            <!-- End Content -->    