<!-- Start Content -->
<div class="content">

    <!-- Page Header -->
    <div class="d-flex align-items-center justify-content-between gap-2 mb-4 flex-wrap">
        <div>
            <h4 class="mb-1">Settings</h4>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0 p-0">
                    <li class="breadcrumb-item"><a [routerLink]="routes.index">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Settings</li>
                </ol>
            </nav>
        </div>
        <div class="gap-2 d-flex align-items-center flex-wrap">
            <a href="javascript:void(0);" class="btn btn-icon btn-outline-light shadow" data-bs-toggle="tooltip"
                data-bs-placement="top" aria-label="Refresh" data-bs-original-title="Refresh"><i
                    class="ti ti-refresh"></i></a>
            <app-collapse-header></app-collapse-header>
        </div>
    </div>
    <!-- End Page Header -->

    <div class="card border-0">
        <div class="card-body pb-0 pt-0 px-2">
            <ul class="nav nav-tabs nav-bordered nav-bordered-primary">
                <li class="nav-item me-3">
                    <a [routerLink]="routes.profileSettings" class="nav-link p-2">
                        <i class="ti ti-settings-cog me-2"></i>General Settings
                    </a>
                </li>
                <li class="nav-item me-3">
                    <a [routerLink]="routes.companySettings" class="nav-link p-2 active">
                        <i class="ti ti-world-cog me-2"></i>Website Settings
                    </a>
                </li>
                <li class="nav-item me-3">
                    <a [routerLink]="routes.invoiceSettings" class="nav-link p-2">
                        <i class="ti ti-apps me-2"></i>App Settings
                    </a>
                </li>
                <li class="nav-item me-3">
                    <a [routerLink]="routes.emailSettings" class="nav-link p-2">
                        <i class="ti ti-device-laptop me-2"></i>System Settings
                    </a>
                </li>
                <li class="nav-item me-3">
                    <a [routerLink]="routes.paymentGatewaySettings" class="nav-link p-2">
                        <i class="ti ti-moneybag me-2"></i>Financial Settings
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="routes.siteMap" class="nav-link p-2">
                        <i class="ti ti-flag-cog me-2"></i>Other Settings
                    </a>
                </li>
            </ul>
        </div> <!-- end card body -->
    </div> <!-- end card -->

    <!-- start row -->
    <div class="row">
        <div class="col-xl-3 col-lg-12 theiaStickySidebar">

            <div class="card">
                <div class="card-body">
                    <div class="settings-sidebar">
                        <h5 class="mb-3 fs-17">Website Settings</h5>
                        <div class="list-group list-group-flush settings-sidebar">
                            <a [routerLink]="routes.companySettings" class="d-block p-2 fw-medium">Company Settings</a>
                            <a [routerLink]="routes.localizationSettings" class="d-block p-2 fw-medium">Localization</a>
                            <a [routerLink]="routes.prefixes" class="d-block p-2 fw-medium">Prefixes</a>
                            <a [routerLink]="routes.preference" class="d-block p-2 fw-medium active">Preference</a>
                            <a [routerLink]="routes.appearance" class="d-block p-2 fw-medium">Appearance</a>
                            <a [routerLink]="routes.languageSettings" class="d-block p-2 fw-medium">Language</a>
                        </div>
                    </div>
                </div> <!-- end card body -->
            </div> <!-- end card -->

        </div> <!-- end col -->

        <div class="col-xl-9 col-lg-12">

            <div class="card mb-0">
                <div class="card-body">
                    <div class="border-bottom mb-3 pb-3">
                        <h5 class="mb-0 fs-17">Preference</h5>
                    </div>
                    <form>
                        <div class="border-bottom mb-3">
                            <div class="row">
                                <div class="col-xxl-4 col-sm-6">
                                    <div class="card border mb-3">
                                        <div class="card-body d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <img src="assets/img/icons/preference-01.svg" alt="Img">
                                                <h6 class="fs-14 fw-semibold ms-2 mb-0">Contact</h6>
                                            </div>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input ms-0" type="checkbox" role="switch"
                                                    checked>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-4 col-sm-6">
                                    <div class="card border mb-3">
                                        <div class="card-body d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <img src="assets/img/icons/preference-02.svg" alt="Img">
                                                <h6 class="fs-14 fw-semibold ms-2 mb-0">Deals</h6>
                                            </div>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input ms-0" type="checkbox" role="switch"
                                                    checked>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-4 col-sm-6">
                                    <div class="card border mb-3">
                                        <div class="card-body d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <img src="assets/img/icons/preference-03.svg" alt="Img">
                                                <h6 class="fs-14 fw-semibold ms-2 mb-0">Leads</h6>
                                            </div>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input ms-0" type="checkbox" role="switch"
                                                    checked>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-4 col-sm-6">
                                    <div class="card border mb-3">
                                        <div class="card-body d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <img src="assets/img/icons/preference-04.svg" alt="Img">
                                                <h6 class="fs-14 fw-semibold ms-2 mb-0">Pipelines</h6>
                                            </div>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input ms-0" type="checkbox" role="switch"
                                                    checked>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-4 col-sm-6">
                                    <div class="card border mb-3">
                                        <div class="card-body d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <img src="assets/img/icons/preference-02.svg" alt="Img">
                                                <h6 class="fs-14 fw-semibold ms-2 mb-0">Campaign</h6>
                                            </div>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input ms-0" type="checkbox" role="switch"
                                                    checked>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-4 col-sm-6">
                                    <div class="card border mb-3">
                                        <div class="card-body d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <img src="assets/img/icons/preference-06.svg" alt="Img">
                                                <h6 class="fs-14 fw-semibold ms-2 mb-0">Projects</h6>
                                            </div>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input ms-0" type="checkbox" role="switch"
                                                    checked>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-4 col-sm-6">
                                    <div class="card border mb-3">
                                        <div class="card-body d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <img src="assets/img/icons/preference-07.svg" alt="Img">
                                                <h6 class="fs-14 fw-semibold ms-2 mb-0">Tasks</h6>
                                            </div>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input ms-0" type="checkbox" role="switch"
                                                    checked>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-4 col-sm-6">
                                    <div class="card border mb-3">
                                        <div class="card-body d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <img src="assets/img/icons/preference-08.svg" alt="Img">
                                                <h6 class="fs-14 fw-semibold ms-2 mb-0">Acivities</h6>
                                            </div>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input ms-0" type="checkbox" role="switch"
                                                    checked>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-4 col-sm-6">
                                    <div class="card border mb-3">
                                        <div class="card-body d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <img src="assets/img/icons/preference-09.svg" alt="Img">
                                                <h6 class="fs-14 fw-semibold ms-2 mb-0">Company</h6>
                                            </div>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input ms-0" type="checkbox" role="switch"
                                                    checked>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-4 col-sm-6">
                                    <div class="card border mb-3">
                                        <div class="card-body d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <img src="assets/img/icons/preference-10.svg" alt="Img">
                                                <h6 class="fs-14 fw-semibold ms-2 mb-0">Analytics</h6>
                                            </div>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input ms-0" type="checkbox" role="switch"
                                                    checked>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-4 col-sm-6">
                                    <div class="card border mb-3">
                                        <div class="card-body d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <img src="assets/img/icons/preference-11.svg" alt="Img">
                                                <h6 class="fs-14 fw-semibold ms-2 mb-0">Clients</h6>
                                            </div>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input ms-0" type="checkbox" role="switch"
                                                    checked>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xxl-4 col-sm-6">
                                    <div class="card border mb-3">
                                        <div class="card-body d-flex align-items-center justify-content-between">
                                            <div class="d-flex align-items-center">
                                                <img src="assets/img/icons/preference-12.svg" alt="Img">
                                                <h6 class="fs-14 fw-semibold ms-2 mb-0">Customers</h6>
                                            </div>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input ms-0" type="checkbox" role="switch"
                                                    checked>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-end flex-wrap gap-2">
                            <a href="#" class="btn btn-sm btn-light">Cancel</a>
                            <button type="submit" class="btn btn-sm btn-primary">Save Changes</button>
                        </div>
                    </form>
                </div> <!-- end card body -->
            </div> <!-- end card -->

        </div> <!-- end col -->

    </div>
    <!-- end row -->

</div>
<!-- End Content -->