
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <!-- Page Header -->
                <div class="d-flex align-items-center justify-content-between gap-2 mb-4 flex-wrap">
                    <div>
                        <h4 class="mb-1">Industry<span class="badge badge-soft-primary ms-2">132</span></h4>
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mb-0 p-0">
                                <li class="breadcrumb-item"><a [routerLink]="routes.index">Home</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Industry</li>
                            </ol>
                        </nav>
                    </div>
                    <div class="gap-2 d-flex align-items-center flex-wrap">
                        <div class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle btn btn-outline-light px-2 shadow"
                                data-bs-toggle="dropdown"><i class="ti ti-package-export me-2"></i>Export</a>
                            <div class="dropdown-menu  dropdown-menu-end">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0);" class="dropdown-item"><i
                                                class="ti ti-file-type-pdf me-1"></i>Export as
                                            PDF</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="dropdown-item"><i
                                                class="ti ti-file-type-xls me-1"></i>Export as
                                            Excel </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <a href="javascript:void(0);" class="btn btn-icon btn-outline-light shadow"
                            data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Refresh"
                            data-bs-original-title="Refresh"><i class="ti ti-refresh"></i></a>
                        <app-collapse-header></app-collapse-header>
                    </div>
                </div>
                <!-- /Page Header -->

                <div class="card border-0 rounded-0">
                    <div class="card-header d-flex align-items-center justify-content-between gap-2 flex-wrap">
                        <div class="input-icon input-icon-start position-relative">
                            <span class="input-icon-addon text-dark"><i class="ti ti-search"></i></span>
                            <input [(ngModel)]="searchDataValue" [ngModelOptions]="{ standalone: true }" type="search"
                                (ngModelChange)="searchData(searchDataValue)" class="form-control" placeholder="Search">
                        </div>
                        <a href="javascript:void(0);" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add_industry"><i class="ti ti-square-rounded-plus-filled me-1"></i>Add New Industry</a>
                    </div>
                    <div class="card-body">


                        <!-- Industry List -->
                        <div class="table-responsive custom-table">
                            <table class="table table-nowrap dataTable" id="industry-list" matSort (matSortChange)="sortData($event)">
                                <thead class="table-light">
                                    <tr>
                                        <th class="no-sort">
                                            <div class="checkboxs" class="form-check form-check-md"
                                            (click)="selectAll(initChecked)" (keydown.enter)="selectAll(initChecked)"
                                            tabindex="0">
                                            <input class="form-check-input" type="checkbox"
                                                [(ngModel)]="initChecked" /><span class="checkmarks"></span>
                                        </div>
                                        </th>
                                        <th mat-sort-header="title">Title</th>
                                        <th mat-sort-header="Created">Created at</th>
                                        <th mat-sort-header="Status">Status</th>
                                        <th mat-sort-header="Action">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (data of tableData; track data) {
                                   <tr class="odd">
                                    <td class="sorting_1">
                                        <div class="form-check form-check-md">
                                            <input type="checkbox" class="form-check-input"
                                                [(ngModel)]="data.isSelected" />
                                            <span class="checkmarks"></span>
                                        </div>
                                    </td>
                                    <td><span class="title-name">{{data.Title}}</span></td>
                                    <td>{{data.CreatedAt}}</td>
                                    <td><span class="badge badge-pill badge-status "
                                            [ngClass]="{'bg-success':data.Status === 'Active','bg-danger':data.Status === 'Inactive'}">{{data.Status}}</span>
                                    </td>
                                    <td>
                                            <div class="dropdown table-action"><a href="#"
                                                    class="action-icon btn btn-xs shadow d-inline-flex btn-outline-light"
                                                    data-bs-toggle="dropdown" aria-expanded="false"><i
                                                        class="ti ti-dots-vertical"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item"
                                                        href="javascript:void(0);" data-bs-toggle="modal"
                                                        data-bs-target="#edit_industry"><i
                                                            class="ti ti-edit text-blue"></i> Edit</a><a
                                                        class="dropdown-item" href="#" data-bs-toggle="modal"
                                                        data-bs-target="#delete_industry"><i class="ti ti-trash"></i>
                                                        Delete</a></div>
                                            </div>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <app-custom-pagination></app-custom-pagination>
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="datatable-length"></div>
                            </div>
                            <div class="col-md-6">
                                <div class="datatable-paginate"></div>
                            </div>
                        </div>
                        <!-- /Industry List -->
                    </div>
                </div>
            </div>
        </div>
    </div>


<!-- Add New Industry -->
<div class="modal fade" id="add_industry" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add New Industry</h5>
                <button class="btn-close custom-btn-close border p-1 me-0 text-dark" data-bs-dismiss="modal"
                    aria-label="Close">
                    <i class="ti ti-x"></i>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="col-form-label" for="reason">Industry Name <span
                                class="text-danger">*</span></label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="mb-0">
                        <label class="col-form-label" for="reason">Status</label>
                        <div class="d-flex align-items-center">
                            <div class="me-2">
                                <input type="radio" class="status-radio" id="add-active" name="status" checked="">
                                <label for="add-active">Active</label>
                            </div>
                            <div>
                                <input type="radio" class="status-radio" id="add-inactive" name="status">
                                <label for="add-inactive">Inactive</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="d-flex align-items-center justify-content-end m-0">
                        <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Add New Industry -->

<!-- Edit Industry -->
<div class="modal fade" id="edit_industry" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Industry</h5>
                <button class="btn-close custom-btn-close border p-1 me-0 text-dark" data-bs-dismiss="modal"
                    aria-label="Close">
                    <i class="ti ti-x"></i>
                </button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="mb-3">
                        <label class="col-form-label" for="reason">Industry Name <span
                                class="text-danger">*</span></label>
                        <input type="text" class="form-control" value="Retail Industry">
                    </div>
                    <div class="mb-0">
                        <label class="col-form-label" for="reason">Status</label>
                        <div class="d-flex align-items-center">
                            <div class="me-2">
                                <input type="radio" class="status-radio" id="edit-active" name="status" checked="">
                                <label for="edit-active">Active</label>
                            </div>
                            <div>
                                <input type="radio" class="status-radio" id="edit-inactive" name="status">
                                <label for="edit-inactive">Inactive</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="d-flex align-items-center justify-content-end m-0">
                        <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /Edit Industry -->

<!-- Delete Industry -->
<div class="modal fade" id="delete_industry" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="text-center">
                    <div class="avatar avatar-xl bg-danger-light rounded-circle mb-3">
                        <i class="ti ti-trash-x fs-36 text-danger"></i>
                    </div>
                    <h4 class="mb-2">Remove Industry?</h4>
                    <p class="mb-0">AAre you sure you want to remove it.</p>
                    <div class="d-flex align-items-center justify-content-center mt-4">
                        <a href="javascript:void(0);" class="btn btn-light me-2" data-bs-dismiss="modal">Cancel</a>
                        <a [routerLink]="routes.industry" class="btn btn-danger">Yes, Delete it</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Industry -->